.owl-carousel {
    .owl-nav {
        .owl-prev,
        .owl-next {
            height: 35px;
            width: 35px;
            background-color: $dark-green;
            background-image: linear-gradient(to right, $light-green, $dark-green 100%) !important;
            color: white !important;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            z-index: 99 !important;
            position: absolute;
            top: 190px;
        }
        .owl-prev {
            left: -10px;
        }
        .owl-next {
            right: -10px;
        }
    }
}